streamlit==1.38.0
ultralytics==8.1.8
opencv-python-headless==4.5.5.64

numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5
pyyaml==6.0.2
requests==2.32.3
scipy==1.14.1
